<div class="container">
  <div class="row">
    <h4>パズル一覧</h4>
  </div>
  <div class="row">
    <% posts.each do |post_image| %>
      <%= image_tag post_image.puzzle_image %>
      <%= post_image.title %>
      <%= post_image.updated_at.strftime('%Y/%m/%d') %>
    <% end %>
  </div>
</div>
