
<h1>パズル一覧</h1>
<div class="row d-flex flex-wrap mx-auto">
  <% @puzzles.each do |puzzle_image| %>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12 d-flex">
      <%= link_to puzzle_image_path(puzzle_image.id),class: "text-secondary" do %>
        <%= image_tag puzzle_image.image_or_empty, size: "200x200" %>
        <%= puzzle_image.title %>
      <% end %>
  <% end %>
</div>