<div class="container">
  <div class="row">
    <%= link_to puzzle_images_path do %>
      <p><<一覧に戻る</p>
    <% end %>
  </div>
  <div class="row">
    <h4><%= @puzzle.title %></h4>
  </div>
  <div id="puzzle_container" class="row">
    <%= image_tag @puzzle.image_or_empty , size: "500x500" %>
  </div>
</div>
<script src="puzzle_piece.js"></script>